@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-8);
    
}
header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}

.header_logo{
}

.header_logo img{

}

.header_nav{
display: flex;
justify-content: space-between;
gap: 54px;
}

.header_nav li{
list-style: none;
}

.header_nav li a{
    font-family: "Poppins-Semibold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px;
    display: flex;


}

.header_nav li a img{
    
}

.header_menu img{

}

main{
    background: green;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section_container{
    
    display: flex;
    justify-content: space-between;
}

.article_jumping{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    width: 679px;
    background: violet;
    display: flex;
    flex-direction: column;
}
.article_jumping h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 110px;
}
.article_jumping p{

}
.div_buttons{
    margin-top: 26px;
    background: rebeccapurple;
    display: flex;
    gap: 38px;
    

}
.div_buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Regular";

    font-size: 23px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    color: var(--color-1);
    text-decoration: none;
    

}

.div_buttons:hover a:hover{
    backdrop-filter: blur(10px);
    outline: none;
}